<% layout('layouts/boilerplate') %>
<h1>Welcome to HM Walkthrough</h1>
<p>The walkthrough is up and running. I'll be checking data to verify everything is working smoothly. I'll be adding more to this app as time goes on to make the app more useful.</p>
<h4>TODO List:</h4>
<ul>
    <li>A way to look at previous logs</li>
    <li>Graph data</li>
    <li>Change UI to React to streamline process</li>
</ul>
