<div class="sticky-bottom bg-body-tertiary">
  <footer>
     <p>Author: Joshua Edwards</p>
     <p><a href="mailto:josh.edwards@steeldynamics.com">josh.edwards@steeldynamics.com</a></p>
    </footer> 
  </div>
